.destop-fardigheter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fardigheter-section-wrapper {
  width: 90vw;
  display: flex;
  gap: 3em;
}

.fardigheter-grid {
  display: grid;
  gap: 1em;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.big-div {
  grid-column: 1 / 3;
}

.fardigheter-grid > div {
  border: 2px solid red;
}
