.dev-pics h3 {
    text-align: center;
    padding: 10% 0 5% 0;
    font-size: 1.2rem;
}

.dev-pics-row-1 {
  display: flex;
  justify-content: center;
}

.dev-pics-row-2 {
  display: flex;
  justify-content: center;
}

.dev-pics .dev-circle {
  width: 18vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0 2vw 0 2vw;
  overflow: hidden;
}

.dev-pics img {
  width: 100%;
  object-fit: fill;
  opacity: 0.7;
}


#dev-orange { background-color: var(--Tangerine);}

#dev-green { background-color: var(--Emerald);}

#dev-pink { background-color: var(--Bittersweet);}

#dev-blue { background-color: var(--Blue-gray);}

#dev-purple { background-color: var(--Chrysler-blue);}

#dev-yellow { background-color: var(--Mustard);}

#dev-red { background-color: var(--Persian-red);}