.formativ {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 90vw;
    margin: 0 auto;
}

.underline {
    border-bottom: 2px solid var(--Mustard);
}

.formative-grid {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}

.formativ-layout {
    display: grid;
    border-radius: 15px;
    margin-bottom: 15px;
}

#formative01 {
    background-color: var(--Chrysler-blue);
}

#formative02 {
    background-color: var(--Persian-red);
}
