.formativ {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 90vw;
    margin: 0 auto;
}

.summativ-align {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 5% 0 14%;
}

.formative-grid {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}

.formativ-layout {
    display: grid;
    padding: 10px 0 10px 0;
    border-radius: 15px;
    margin-bottom: 15px;
}
.formativ H2 {
    margin: 0%;
}

.formativ-layout h3, .formativ-layout p {
    margin: 0% 0% 0% 5%;
}

#formative01 {
    background-color: var(--Chrysler-blue);
}

#formative02 {
    background-color: var(--Persian-red);
}
