/* Responsive design with media queries for mobileg */
@media (max-width: 480px) {
  
  .assessment {
    border-radius: 10px;
    max-width: 100%;
  }

  .assessment h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1rem;
  }

  p,
  li {
    font-size: 0.9rem;
  }

  .icon {
    font-size: 24px;
  }
}

