.parent-Nav{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 3px solid rgba(235,229,229,.95);
  position: relative;
}

.divNav{ 
  grid-area: 1 / 1 / 3 / 7; 
  background: var(--Eerie-black);
  min-height: 64px; 
}

.divLogo{ 
  grid-area: 1 / 1 / 3 / 3; 
  background: var(--Eerie-black);
  background: transparent; 
  display:flex; 
  align-items:center; 
  padding-left:12px;
}
.logo-img{
  height:45px;          
  width:auto;
  object-fit:contain;
}

.divHambureger{
  grid-area:1 / 5 / 3 / 7;
  background:var(--Eerie-black);
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding-right:12px;
}
.divHambureger i{
  font-size:40px;
  color:#fff;
  line-height:1;
}

.menu-links{
  position: absolute;
  top: 72px;    
  right: 7px;
  text-align: right;  
  border: 2px solid var(--White);
  padding: 8px 12px;
  display: inline-block;
  width: fit-content;
  background: var(--Eerie-black);
  z-index: 1000;
}

.menu-links a{
  display: block;              
  color: #fff;                 
  font-weight: 600;             
  text-transform: uppercase;   
  letter-spacing: .4px;        
  line-height: 1.1;           
  margin: 6px 0;                
  text-decoration: none;        
  font-size: clamp(18px, 4.5vw, 28px); 
}
.menu-links a:hover{
  text-decoration: underline;  
}

nav-bar .menu-links { display: none; }

nav-bar.is-open .menu-links { display: block; }
