/* --------------------------------------------- */
/* --------------- MOBILE FIRST ---------------- */
/* --------------------------------------------- */

/* ----- KUNSKAPER INTRO ----- */
.kunskaper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kunskaper-logo {
    width: 30vw;
    display: block;
}

.kunskaper i {
    font-size: 3rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

.kunskaper-container {
    display: flex;
    flex-direction: column;
}

.kunskaper-container h2 {
    font-size: 2rem;
    margin: 0;
}

.kunskaper-container p {
    font-size: 0.9rem;
    margin: 0;
}

.kunskaper-container p span {
    display: block;
}


/* ----- CARDS INTRO ----- */
.kunskaper-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kunskaper-cards h3 {
    font-size: 1.5rem;
}


/* ----- CARDS GRID: COLOR & POSITIONING ----- */
.cards-grid {
    width: 90vw;
    aspect-ratio: 1/1;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 5vw;
}

.color-purple {
    background-color: var(--Chrysler-blue);
    grid-area: 1 / 1 / span 1 / span 1;
}

.color-green {
    background-color: var(--Emerald);
    grid-area: 1 / 2 / span 1 / span 1;
}

.color-pink {
    background-color: var(--Bittersweet);
    grid-area: 2 / 1 / span 1 / span 1;
}

.color-orange {
    background-color: var(--Tangerine);
    grid-area: 2 / 2 / span 1 / span 1;
}

.big-card {
    grid-area: 1 / 1/ span 2 /span 2;
    z-index: 2;
}


/* ----- CARD: STYLING ----- */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    position: relative;
}

.card h4 {
    font-weight: 600;
    margin: 0;
    letter-spacing: 0.03rem;
}

.color-pink h4 {
    width: 80%;
}

.kunskaper-cards i {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    color: var(--Eerie-black);
    opacity: 0.7;
}

/* small card  */
.small-card {
    text-align: center;
    font-size: 0.9rem;
}

/* big card */
.big-card h4 {
    font-size: 1.1rem;
    padding-top: 5%;
    padding-bottom: 1%;
    border-bottom: 1px solid;
    letter-spacing: 0;
}

.big-card ul {
    margin: 0;
}

.big-card li {
    padding-top: 5%;
    margin-right: 5%;
}

.big-card i {
    font-size: 2rem;
    font-weight: 1000;
    opacity: 1;
}

.big-card {
    grid-area: 1 / 1 / span 2 / span 2;
    z-index: 2;
    width: 90vw;
    aspect-ratio: 1/1;
}


/* ----- CARD: SCRIPT STYLING ----- */
.card-hide {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.8s ease;
 }

.card-show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


/* ----- DISPLAY NONE: FOR DESKTOP LAYOUT ----- */

.kunskaper-container .desktop-h2 {
    display: none;
}



/* --------------------------------------------- */
/* --------------- MEDIA > 600px --------------- */
/* --------------------------------------------- */
@media(width > 600px){

    /* ----- DISPLAY NONE: FROM MOBILE LAYOUT ----- */
    .kunskaper-container h2,
    .kunskaper img,
    .kunskaper i,
    .kunskaper-cards h3{
        display: none;
    }

    /* ----- KUNSKAPER INTRO ----- */
    .kunskaper-container {
        width: 100%;
    }

    .kunskaper-container .desktop-h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.1rem;
    }
    .kunskaper-container .desktop-h2 .x {
        color: var(--Tangerine);
        font-weight: 300;
        font-size: 1.5rem;
        padding: 0 2%;
    }

    .kunskaper-container .desktop-h2 .kunskap {
        font-weight: 300;
    }

    .kunskaper-container p {
        font-weight: 200;
        text-align: center;
        padding-top: 0.5%;
    }

    .kunskaper-container p span {
        display: inline;
    } 

    /* ----- CARDS GRID ----- */
    .kunskaper-cards {
        margin: 0;
        width: 100%;
    }

    .cards-grid {
        margin-top: 3%;
        width: 60%;
        aspect-ratio: 1.5/1;
        max-width: 650px;
        max-height: 500px;
        grid-template: 1fr 1px 2fr / repeat(4, 1fr);
        column-gap: 5%;
        row-gap: 0;
        justify-items: center;
    }

    .color-purple { grid-area: 1 / 1 / span 1 / span 1;}
    .color-green { grid-area: 1 / 2 / span 1 / span 1;}
    .color-pink { grid-area: 1 / 3 / span 1 / span 1;}
    .color-orange { grid-area: 1 / 4 / span 1 / span 1; }

    /* ----- SMALL CARDS LAYOUT ----- */
    .small-card {
        width: 90%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
    }

    .small-card h4 {
        font-size: 1vw;
    }

    .color-pink h4 {
        width: auto;
    }

    /* ----- BIG CARDS LAYOUT ----- */
    .big-card {
        grid-area: 3 / 1 / span 1 / span 4;
        width: fit-content;
        aspect-ratio: 0;
        background-color: transparent;
        overflow: hidden;
        border-radius: 0;
    }

    .big-card li {
        padding-top: 3%;
        margin-left: 5%;
        font-size: 1.5vw;
    }

    .big-card h4 {
        border-bottom: 0;
        font-size: 2.5vw;
    }

    .grid-line {
        width: 100%;
        grid-area: 2 / 1 / span 1 / span 4;
        border-top: 1px solid white;
    }

    .first-show {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}


/* --------------------------------------------- */
/* --------------- MEDIA > 800px --------------- */
/* --------------------------------------------- */
@media(width > 800px){

    /* ----- KUNSKAPER INTRO ----- */
    .kunskaper-container .desktop-h2{
        font-size: 3rem;
    }

    .kunskaper-container .desktop-h2 .x {
        font-size: 2rem;
    }

    .kunskaper-container p {
        font-size: 1.3rem;
    }

    /* ----- BIG CARD HEADER ----- */
     .big-card h4 {
        font-size: 2vw;
    }
}


/* --------------------------------------------- */
/* --------------- MEDIA > 1100px -------------- */
/* --------------------------------------------- */
@media(width > 1100px){
    .small-card h4 {
        font-size: 0.75rem;
    }

     .big-card h4 {
        font-size: 1.7vw;
    }

    .big-card li {
        font-size: 1.1vw;
    }
}

/* --------------------------------------------- */
/* --------------- MEDIA > 1800px -------------- */
/* --------------------------------------------- */
@media(width > 1800px){
    .big-card h4 {
        font-size: 30px;
    }

    .big-card li {
        font-size: 18px;
    }
}