/* ---------- MOBILE FIRST ---------- */

/* ----- KUNSKAPER INTRO ----- */
.kunskaper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kunskaper-logo {
    width: 30vw;
    display: block;
}

.kunskaper i {
    font-size: 3rem;
    padding-top: 5%;
    padding-bottom: 5%;
}

.kunskaper-container {
    display: flex;
    flex-direction: column;
}

.kunskaper-container h2 {
    font-size: 2rem;
    margin: 0;
}

.kunskaper-container p {
    font-size: 0.9rem;
    margin: 0;
}

.kunskaper-container p span {
    display: block;
}


/* ----- CARDS INTRO ----- */
.kunskaper-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kunskaper-cards h3 {
    font-size: 1.5rem;
}


/* ----- CARDS GRID: COLOR & POSITIONING ----- */
.cards-grid {
    width: 90vw;
    aspect-ratio: 1/1;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 5vw;
}

.color-purple {
    background-color: var(--Chrysler-blue);
    grid-area: 1 / 1 / span 1 / span 1;
}

.color-green {
    background-color: var(--Emerald);
    grid-area: 1 / 2 / span 1 / span 1;
}

.color-pink {
    background-color: var(--Bittersweet);
    grid-area: 2 / 1 / span 1 / span 1;
}

.color-orange {
    background-color: var(--Tangerine);
    grid-area: 2 / 2 / span 1 / span 1;
}

.big-card {
    grid-area: 1 / 1/ span 2 /span 2;
    z-index: 2;
}


/* ----- CARD: STYLING ----- */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    position: relative;
}

.card h4 {
    font-weight: 600;
    margin: 0;
    letter-spacing: 0.03rem;
}

.color-pink h4 {
    width: 80%;
}

.kunskaper-cards i {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    color: var(--Eerie-black);
    opacity: 0.7;
}

/* small card  */
.small-card {
    text-align: center;
    font-size: 0.9rem;
}

/* big card */
.big-card h4 {
    font-size: 1.1rem;
    padding-top: 8%;
    padding-bottom: 1%;
    border-bottom: 1px solid;
}

.big-card li {
    padding-top: 5%;
    margin-right: 5%;
}

.big-card i {
    font-size: 2rem;
    font-weight: 1000;
    opacity: 1;
}

.big-card {
    grid-area: 1 / 1 / span 2 / span 2;
    z-index: 2;
    width: 90vw;
    aspect-ratio: 1/1;
}


/* ----- CARD: SCRIPT STYLING ----- */
.card-hide {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.8s ease;
 }

.card-show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}