* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

/* Geneal styling for all sections */

section {
  width: 100%;
  max-width: 400px;
  padding: 24px;
}

/* tests and list defult stylings */
p {
  font-size: 0.95rem;
  line-height: 1.5;
}

ul {
    margin-top: 10px;
  margin-left: 20px;
  font-size: 0.9rem;
  line-height: 1.4;
}
