.mobileFirst { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 90vw;
    margin: 0 auto;
}

.kunskap-wrap {
    text-align: center;
}

#kunskap {
    display: inline-block;
    text-align: left;
    line-height: 1;
}

#kunskap .kun-top, #kunskap .kun-bottom {
    display: block;
}

.mobileFirst h1 {
    margin-bottom: 0%;
}


.mobileFirst h2 {
    margin-bottom: 0%;
}

.mobile-align {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 5% 0 14%;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--Mustard);
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
}

.grid-summativ {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
}

.formative-grid {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}

.mobile-layout{
    display: grid;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
}

.grid-summativ h3 {
    margin-bottom: 0%;
}

.mobile-layout h3, .mobile-layout p {
    margin: 0% 0% 0% 5%;
}

#summativ01 {
    background-color: var(--Bittersweet);
    
}

#summativ02 {
    background-color: var(--Emerald);

}

#summativ03 {
    background-color: var(--Mustard);
}

#formative01 {
    background-color: var(--Chrysler-blue);
}

#formative02 {
    background-color: var(--Persian-red);
}