.summativ { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 90vw;
    margin: 0 auto;
}
.underline {
    border-bottom: 2px solid var(--Mustard);
}

.grid-summativ {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
}


.summativ-layout{
    display: grid;
    border-radius: 15px;
    margin-bottom: 15px;

}

#summativ01 {
    background-color: var(--Persian-red);
    
}

#summativ02 {
    background-color: var(--Emerald);

}

#summativ03 {
    background-color: var(--Mustard);
}